*{
	padding: 0;
	margin: 0;
}
body{
	background-color: lightblue;
}
//Board
#board{
	color: black;
	background-color: lightgrey;
	display: flex;
}
#ico{
	padding: 0.8%;
	color: white;
	font-size: 25px;
	background-color: blue;
}
.btn{
	padding-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
.lng{
	float: right;
	margin: 0 5px 0 0;
	color: red;
}
#SearchIco{
	padding-top: 1%;
	float: left;
	color: red;
}
//There will be CSS code of other elements, soon..